*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

/*PAGE 1*/

.page1 {
	height: 100vh;
	width: : 100vw;
	background: url(../images/bg1.jpg);
	background-size: cover;
	background-position: center;	
}

/*NAV BAR*/

.nav {
	
}

.nav > ul {
	color: white;
	background-color: black;
	display: flex;
	justify-content: flex-end;
	/*border: 1px solid white;*/
	list-style-type: none;

}

.nav > ul > li {
	margin: 5px;
	padding: 5px;
}

/*PAGE 1 IMAGE*/

.img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 150px;

}

.img > img {
	height: 200px;
	width: 200px;
	border-radius: 50%;

}

/*PAGE 1 TEXT*/

.imgtext {
	display: flex;
	justify-content: center;
	align-items: center;
	color: darkblue;
}

.imgtext1 {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}


/*PAGE 2*/

.page2 {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../images/bg4.JPG);
	background-size: cover;
	background-position: center;
}

.box {

	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 10%;
	padding: 20px;
	
}

/*BOX1*/

/*HOVER 1*/

.box1:hover {
	transform: scale(1.2);
}

.box2:hover {
	transform: scale(1.2);
}

.box3:hover {
	transform: scale(1.2);

}

.box1 > .img2a {
	height: 300px;
	width: 300px;
	border: 5px solid white;
	background: url(../images/proj1.png);
	background-size: cover;
	background-position: center;
	transition: 20s;

}

.img2a > h2, .img2b > h2, .img2c > h2 {
	margin-top: 90%;
	margin-left: 25%;
	color: black;

}	




.box2 > .img2b {
	height: 300px;
	width: 300px;
	border: 5px solid white;
	background: url(../images/proj2.png);
	background-size: cover;
	background-position: center;
	transition: 20s;
}

.box3 > .img2c {
	height: 300px;
	width: 300px;
	border: 5px solid white;
	background: url(../images/proj3.png);
	background-size: cover;
	background-position: center;
	transition: 20s;
}

/*.img2a .img2b .img2c {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*.img2a > h4 {
	color: white;
	font-size: 50px;
	}



/*PAGE3*/

.page3 {
	display: flex;
	justify-content: center;
	
}

.left {
	height: 100vh;
	width: 100vh;
	
	display: inline;
	justify-content: center;
	align-items: center;
	background: url(../images/map2.JPG);
	background-size: cover;
	background-position: center;



}

.lefttxt {
	
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 250px;
	color: white;
}

.imgleft {
	display: flex;
	justify-content: center;
	align-items: center;
}

.imgleft > img {
	height: 15px;
	width: 15px;
	border-radius: 50%;

}

.imgleft > img:hover {
	transform: scale(20);
	transition: 5s;
}

.lefttxt2 {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.right {
	height: 100vh;
	width: 100vh;
	
	display: inline-grid;
	justify-content: space-between;
	align-items: center;
	background: url(../images/map2.JPG);
	background-size: cover;
	background-position: center;
}

.name > h2, .address > h2 {
	color: white;
}

/*.address {
	display: flex;
	justify-content: center;
	align-items: center;
}
*/
/*.address > img {

	height: 350px;
	width: 400px;
	
	background: url(../images/bg1.jpg);
	background-size: cover;
	background-position: center;
	
}
*/
.experienceimg > img {
	height: 150px;
	width: 150px;
	margin-top: 75px;
	margin-left: 60px;
	
}

.experienceimg {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	
}

.experience > h2  {
	color: white;
}

/*PAGE4*/

.page4 {
	height: 100vh;
	width: 100vw;
	background: url(../images/bg3.JPG);
	background-size: cover;
	background-position: center;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact > form {
	color: black;
}




/*Media Queries*/
/*desktop*/
@media only screen and ( min-width: 961px) and (max-width: 1000px) {
	.box1 {
		background-color: pink;
	}
}

/*tablet*/
@media only screen and ( min-width: 401px) and (max-width: 960px) {
	.box1 {
		background-color: yellow;
	}
}

/*mobile*/

@media only screen and (max-width: 400px) {

	.page4 
	height: 100vh;
	width: 100vw;
	background-color: gray;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;

}
